header {
    background-image:url(.//images/backround-site.jpg);
}
body {
    background-color: white;
}
.logo {
    font-size: 60px;
    font-weight: bolder;
    margin-left: 30px;
    color: rgb(255, 89, 0);

}
.fix {
    display: flex;
    justify-content: space-between;
}
.div {
    display: flex;
    align-items: center;
    font-size: 33px;
    list-style: none;
    margin: 0px;
   
}
.div li {
    padding-right: 20px;
    
}
.div li a {
    text-decoration: none;
    color: rgb(237, 199, 141);
}
.all {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 50px;
    background-color: #e0e0e0;
}
.para {
    margin-top: 40px;
    margin-left: 40px;
    color: rgb(192, 12, 12);
    font-size: 40px;
    word-spacing: 15px;
}
.p {
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: bolder;
    font-size: 55px;
}
.download {
    margin-top: 0px;
    margin-bottom: 0px;
}
.preview-img {
    width: 400px;
    height: 400px;
    animation-name: preview-img-animation;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes preview-img-animation {
    0% {transform: translateX(-10px);}
    100% {transform: translateX(10px);}
}

.preview {
    width: 100%;
    height: 270px;
    display: flex;
    flex-direction: row;
    align-content: center;
}

.preview img:nth-of-type(1) {
    width: 20%;
    margin-left: 10px;
}

.preview img:nth-of-type(2) {
    width: 60%;
    margin-left: 10px;
}

.preview div {
    width: 19%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.preview div a {
    height: 50px;
    text-align: center;
}






@media (max-width: 800px) {
body {
    .logo {
        font-size: 40px;
        font-weight: bolder;
        margin-left: 20px;
    }
    .div {
        word-spacing: 10px;
        font-size: 20px;
        margin-right: 10px;
    }
    .div li {
        padding-right: 10px;
    }
    .para {
        margin-top: 15px;
        margin-left: 15px;
        margin-right: 5px;
        color: rgb(192, 12, 12);
        font-size: 30px;
        word-spacing: 15px;
    }
    .p {
        font-weight: bolder;
        font-size: 35px;
    }
    .img {
        width: 200px;
        height: 230px;
    }
    .gta1 {
        font-size: 30px;
        margin-left: 20px;
    }
    .gtaimg {
        width: 250px;
        height: 270;
    }
    .fifa1 {
        font-size: 30px;
        margin-left: 20px;
    }
    .fifaimg {
        width: 250px;
        height: 171px;
    }
    .sm {
        display: flex;
        flex-direction: column;
        font-size: 20px;
    }
    .gmailimg {
        width: 28px;
        height: 22px;
    }
    .instagramimg {
        width: 27px;
    }
    .twitterimg {
        width: 32px;
    }
    .item1 {
        margin-bottom: 0px;
    }
    .item2 {
        margin-bottom: 0px;
    }
    .item3 {
        margin-bottom: 0px;
    }
}
}
.khlf{
    padding-top: 20px;
    padding-bottom: 20px;
    background-image: url(.//images/backround-site.jpg);
}

footer p {
    margin: 0px;
    color: white;
    text-align: center;
    font-size: 20px;
}

.haha {
    background-image: url(.//images/haha.jpg);
    margin-bottom: 0px;
}